{% extends 'base.html.twig' %}

{% block title %}
    Création d'un produit
{% endblock %}

{% block body %}

    <h1 class="text-center">Nouveau produit</h1>

    {{ form(formView) }}

{% endblock %}
